*{
    padding: 0px;
    margin: 0px;
}

.container{
    margin: 75px 600px;
}

.messages{
    color: red;
}

h1{
    text-align: center;
}

.left{
    display: inline-block;
    vertical-align: top;
    margin: 20px 20px;
}

.right{
    display: inline-block;
    vertical-align: top;
    margin: 20px 20px;
}

td{
    margin: 5px 5px;
    padding: 5px 5px;
}

button{
    margin-top: 20px;
    border-radius: 10px;
    padding: 6px 15px;
}