<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add an Author</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class='container-left'>
        <h1>Add an Author</h1>
        <form action='/add_authors' method='POST'>
            {% csrf_token %}
            First Name:<input type="text" name='first_name'>
            Last Name:<input type="text" name='last_name'>
            Notes:<input type='text' name='notes'>
            <button type='submit' name='add'>Add</button>
        </form>
    </div><!--end container-left-->
    <div class='container-right'>
        <table>
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for author in authors %}
                <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.first_name }} {{ author.last_name }}</td>
                <td><a href='/authors/{{ author.id }}'>View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action='/'>
            {% csrf_token %}
            <button type='submit'>Return to Main</button>
        </form>
    </div><!--end container-right-->
</body>
</html>