<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Authors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class='books-container'>
        <h1>{{ some_author.first_name }} {{ some_author.last_name }}</h1>
        <h2>ID:</h2>
        <p> {{ some_author.id }}</p>
        <h2>Notes:</h2>
        <p>{{ some_author.notes }}</p>
        <h2>Books:</h2>
            <ul>{% for book in books %}
                <li>{{ book.title }}</li>
                <a href='/delete_book/{{ some_author.id }}/{{ book.id }}'>Remove</a>
                {% endfor %}
            </ul>
        <div class='dropdown'>
            <form action='/add_missing_book/{{ some_author.id }}' method='POST'>
                {% csrf_token %}
            <select name='book'>
                {% for book in missing_book %}
                    {% if book not in books %}
                <option value='{{ book.id }}'>{{ book.title }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type='submit'>Add</button>
            </form>
        </div>
        <form action='/return_authors_index' method='POST'>
            {% csrf_token %}
        <button type='submit'>Return to Authors</button>
        </form>
    </div><!--end container-->
</body>
</html>