<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register/Log In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {%load static%}
    <link rel='stylesheet' href="{% static 'style.css'%}">
</head>
<body>
    <div class='container'>
        <div class='registration'>
            <h1>Registration</h1>
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>   
                {% endfor %}
            </ul>
            {% endif %}
            <form action='/createUser' method='POST'>
                {%csrf_token%}
                <div class='form-row'>
                    <div class="col-5">
                        <label for="exampleFormControlInput1">First Name </label>
                        <input type="text" class="form-control" name='first_name' id="exampleFormControlInput1" placeholder="Jane" required>
                    </div>
                </div>
                <div class='form-row'>
                    <div class="col-5">
                        <label for="exampleFormControlInput1">Last Name </label>
                        <input type="text" class="form-control" name='last_name' id="exampleFormControlInput1" placeholder="Doe" required>
                    </div>
                </div>
                <div class='form-row'>
                    <div class="col-5">
                        <label for="exampleFormControlInput1">Email address </label>
                        <input type="email" class="form-control" name='email' id="exampleFormControlInput1" placeholder="janedoe@example.com" required>
                    </div>
                </div>
                <div class='form-row'>
                    <div class="col-5">
                        <label for="exampleFormControlInput1">Password </label>
                        <input type="password" class="form-control" name='password' id="exampleFormControlInput1" required>
                    </div>
                </div>
                <div class='form-row'>
                    <div class="col-5">
                        <label for="exampleFormControlInput1">Confirm Password </label>
                        <input type="password" class="form-control" name='password_confirm' id="exampleFormControlInput1" required>
                    </div>
                </div>
                <button type='submit'>Register</button>
            </form>    
        </div><!--end registration-->
        <div class='login'>
            <h1>Login</h1>
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>   
                {% endfor %}
            </ul>
            {% endif %}
            <form action='/login' method='POST'>
                {%csrf_token%}
                <div class="form-row">
                    <div class='col-5'>
                        <label for="exampleFormControlInput1">Email address </label>
                        <input type="email" class="form-control" name='email' id="exampleFormControlInput1" placeholder="janedoe@example.com" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class='col-5'>
                        <label for="exampleFormControlInput1">Password </label>
                        <input type="password" class="form-control" name='password' id="exampleFormControlInput1" required>
                    </div>
                </div>
                <button type='submit'>Log In</button>
            </form>
        </div><!--end login-->
    </div><!--endcontainer-->
</body>
</html>