html body{
    background-image: url("/static/img/back.jpg");
    background-size: cover;
}
.btn-danger{
    margin: 10px;
}
#logo{
    font-size: 2.5rem;
    font-weight: normal;
}
#navbar{
    background: linear-gradient(to bottom, #dbecff 0%,#95b9dd 99%);
    border: 1px solid rgba(71, 71, 71, 0.055);
}
#navh4{
    margin: 0px;
}
.container{
    background-color: rgba(255, 255, 255, 0.904);
    max-width: 90% !important;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    border-style: none solid solid solid !important;
    border: 1px solid rgba(121, 118, 118, 0.418);
    color: black;
}
.errors{
    background-color: rgba(228, 48, 48, 0.719);
    margin: auto;
    padding-top: 10px;
    width: 50%;
    border: 3px solid rgba(121, 118, 118, 0.418);
    border-radius: 10px;
}
.errors ul{
    list-style: none;
    text-align: center;
    margin-left: -40px;
}