*{
    margin: 0;
    padding: 0;
}

.container{
    width: 970px;
    height: 1000px;
    margin: auto;
}
.jumbotron{
    margin: auto;
    text-align: center;
}


img{
    width: 50%;
    height: 50%;
    margin-bottom: 30px;
}

h1{
    display: inline-block;
}

.btn btn-primary{
    display: inline-block;
}